//VARIABLES
$color-principal: #d6d6d6;
$color-letra: green;

body {
    background: $color-principal;
    }

h1{
    color: $color-letra;
}

p{
    color: $color-letra;
}

//ANIDACIÓN
.caja {
    h2{
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-style: italic;
    }

    p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}