//VARIABLES
$color-principal: #d6d6d6;
$color-letra: green;
@use 'anidacion'; @use 'mixins';


body {
    background: $color-principal;
    }

h1{
    color: $color-letra;
}

p{
    color: $color-letra;
}

